[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/Flymir/bootstrap.git
[submodule "lpeg"]
	path = lpeg
	url = git://github.com/Flymir/lpeg.git
[submodule "glfw"]
	path = glfw
	url = git://github.com/Flymir/glfw.git
[submodule "ceg"]
	path = ceg
	url = git://github.com/Flymir/ceg.git
[submodule "luadist-git"]
	path = luadist-git
	url = git://github.com/Flymir/luadist-git.git
[submodule "lcpp"]
	path = lcpp
	url = git://github.com/Flymir/lcpp
[submodule "ffiex"]
	path = ffiex
	url = git://github.com/Flymir/ffiex.git
[submodule "luajit"]
	path = luajit
	url = git://github.com/Flymir/luajit.git
[submodule "luafun"]
	path = luafun
	url = git://github.com/Flymir/luafun.git
[submodule "luatrace"]
	path = luatrace
	url = git://github.com/Flymir/luatrace.git
[submodule "coin-all"]
	path = coin-all
	url = git://github.com/flymir/coin-all.git
[submodule "rima"]
	path = rima
	url = git://github.com/flymir/rima.git
[submodule "lpsolve"]
	path = lpsolve
	url = git://github.com/flymir/lpsolve.git
