[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/Flymir/bootstrap.git
[submodule "lpeg"]
	path = lpeg
	url = git://github.com/Flymir/lpeg.git
[submodule "glfw"]
	path = glfw
	url = git://github.com/Flymir/glfw.git
[submodule "ceg"]
	path = ceg
	url = git://github.com/Flymir/ceg.git
[submodule "luadist-git"]
	path = luadist-git
	url = git://github.com/Flymir/luadist-git.git
